/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: rgba(252, 0, 0, 0.205);
    background-image: linear-gradient(-90deg, rgba(59, 51, 107, 0.37), rgba(255, 255, 0, 0.267));
    overflow: auto;
    border-radius: 5px;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    padding: 10px;
    color: rgba(0, 0, 0, 0.897);
    text-decoration: none ;
    font-size: 22px;
    font-family: Comic Sans MS;
    width: 16.66%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
    display: block
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: rgba(152, 176, 255, 0.288);
  }
  
  /* Style the current/active link */
  .navbar a.active {
    background-color: rgba(255, 228, 196, 0.253);
  }
  
  /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
  }

  .form {
      text-align: center;
      border: beige;
      border-radius: 15px;
      /* background-color: rgba(255, 228, 196, 0.137); */
      background-color: rgba(252, 139, 0, 0.11);
      width: 100%;
      width: 500px;
      margin: auto;
      margin-bottom: 100px;
      /* background-image: linear-gradient(rgba(255, 255, 255, 0.336), rgba(252, 0, 0, 0.205)); */
      background-image: linear-gradient( to bottom right, rgba(255, 255, 0, 0.055), rgba(50, 38, 107, 0.411));
    }
  
  .form input[type=text]:focus {
    background-color: beige;
  }

  .submit {
    border: none;
    border-radius: 10px;
    background-color: rgba(184, 221, 184, 0.664); 
  }

  .update {
    border: 2px solid rgb(52, 98, 136);
    border-radius: 10px;
    background-color: rgba(52, 98, 136, 0.377); 
  }
  
  .delete {
    border: 2px solid rgb(85, 0, 0);
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.377); 
  }
  
  .catch {
    /* background-color: rgba(116, 148, 255, 0.548); */
    /* background-color: rgba(116, 255, 146, 0.76);  */
    /* background-color: rgba(152, 162, 255, 0.76);  */
    border: 2px solid rgba(98, 80, 255, 0.315);
    color: rgb(54, 63, 194);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgb(83, 0, 0),0 20px 50px 0 rgb(51, 0, 0);
  }
  .catch:hover {background-color: #2600fd48}


  .caught {
    /* background-color: rgba(116, 255, 146, 0.548);  */
    /* background-color: rgba(93, 130, 252, 0.76); */
    /* background-color: rgba(54, 155, 76, 0.76);  */
    /* background-color: rgb(152, 162, 255);  */
    border: 2px solid rgb(102, 102, 102);
    color: rgb(59, 59, 59);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(51, 51, 51, 0.384);
    /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 20px 50px 0 rgba(0, 0, 0, 0.733); */
  }
  /* .caught:hover {background-color: rgba(52, 51, 54, 0.377)} */


  .critter {
    display: inline-grid;
    background-color: rgba(33, 149, 243, 0.007);
    padding: 10px;
    border-radius: 12px;
    border: 1px solid beige;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    grid-template-columns: repeat( auto-fit, minmax(250px, 0fr) );
  }

  .item {
    align-self: center;
  }


  .search-filter {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 200px;
  }
  
  .search-filter > li > a {
    background: #000;
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
  }
  
  .search-filter ul {
    background: #ddd;
    height: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all .5s ease;
    top: 35px;
    width: 100%;
  }
  
  .search-filter li:hover ul {
    height: 200px;
    opacity: 1;
    transform: translateY(0);
  }
  
  .search-filter ul a {
    color: #000;
    display: block;
    padding: 5px 20px;
  }

  .audio {
    max-width: 40px;
  }
