/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: rgba(94, 144, 253, 0);
    overflow: auto;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    padding: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none ;
    font-size: 22px;
    font-family: Comic Sans MS;
    width: 16.66%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
    display: block
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: rgba(152, 176, 255, 0.288);
  }
  
  /* Style the current/active link */
  .navbar a.active {
    background-color: rgba(255, 228, 196, 0.253);
  }
  
  /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
  }

  .form {
      text-align: center;
      border: beige;
      background-color: rgba(255, 228, 196, 0.137);
      width: 100%;
    }
  
  .form input[type=text]:focus {
    background-color: beige;
  }

  .button {
    border-radius: 50%;
    background-color: rgba(152, 176, 255, 0.288); 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .audio {
    max-width: 40px;
  }

  